.loader {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 7px solid;
    box-sizing: border-box;
    animation: animloader 1s linear infinite alternate;
}

@keyframes animloader {
    0% {
        border-color: #30e0ff rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
    }

    33% {
        border-color: #30e0ff #30e0ff rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
    }

    66% {
        border-color: #30e0ff #30e0ff #30e0ff rgba(255, 255, 255, 0);
    }

    100% {
        border-color: #30e0ff #30e0ff #30e0ff #30e0ff;
    }
}